.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #2A77AE;
  margin-bottom: 50px;
  /* background: grey;
  position: fixed;
  z-index: 1; */
}

.pageTitle {
  text-decoration: underline;
}

.scores {
  text-align: right;
  color: black;
}
